*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	height: 100%;
	background: url(country.png);
	background-size: cover;
}
div{
	margin-top: 40%;
	margin-left: 30%;
	padding: 30px;
	color: #ffffff;
	font-family: Comic Sans MS, Arial;
	font-size: 20;
	border: 3px solid #ffffff;
	border-radius: 30px;
	width: 350px;
	height: 200px;
	font-size: 20;
	text-shadow: 10px 10px 10px #000000;
	background: rgba(0,0,0,.3);
	overflow: hidden;
	}
div:hover{
	color: #aaddff;
	border: 3px solid #aaddff;
	box-shadow: 10px 10px 10px #000000;
	background: rgba(0,0,0,.7);
	width: 500px;
	height: 450px;
	transition: 3s;
	}
